<form method="get" action="/quizes/<%= quiz.id %>/answer">
	[<%= quiz.tema %>] <br/>
	Pregunta: <%= quiz.pregunta %> <br/>
	<input type="text" name="respuesta" value="Respuesta">
	<input type="submit" value="Enviar">
</form>